a {
    outline: none !important;
}

.pli {margin: 0;}

.vote-block {
    width: auto;
    display: block;
    background: #eeeff1;
    border-radius: 3px;
    margin: 10px 0;
}

.vote-block-head {
    display: block;
    text-align: left;
    width: auto;
    padding: 15px 20px;
    color: rgb(108, 110, 122);
    line-height: 1.5;
    padding-bottom: 15px;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px dashed rgb(185, 185, 185); */
    font-size: 18px;
}

.vote-block-head h2 {
    color: rgb(143, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    margin-top: 0;
}

.vote-block-content {
    display: block;
    width: auto;
    border: 1px solid #eeeff1;
    background: #fff;
    padding: 0 20px;
}

.vote-block-content-container:first-child {
    margin-top: 30px;
}
.vote-block-content-container {
    display: block;
    width: auto;
    margin-bottom: 20px;
}

.vote-block-content-text {
    float: left;
    display: block;
    width: 40%;
    text-align: left;
}

.vote-block-content-stat {
    display: block;
    float: right;
    width: 60%;
    position: relative;
    background: #eeeff1;
    height: 25px;
}

.line-1 {
    width: 23%;
    background: #66a01d;
}
.vote-block-content-stat-line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: #66a01d;
    text-align: right;
}
.line-1 h6 {
    color: #66a01d !important;
}
.vote-block-content-stat-line h6 {
    font-size: 12px;
    color: #eeeff1;
    margin-left: 121%;
    margin-top: 4px;
}

.vote-block-content-container:after {
    content: '';
    display: block;
    clear: both;
}

.line-2 {
    width: 47%;
    background: #66a01d;
}

.line-2 h6 {
    color: #66a01d;
    margin-left: 108%;
}

.line-3 {
    width: 8%;
    background: #66a01d;
}

.line-3 h6 {
    color: #66a01d;
}

.line-4 {
    width: 17%;
    background: #939598;
}

.line-4 h6 {
    color: #939598;
}

.line-5 {
    width: 5%;
    background: #939598;
}

.line-5 h6 {
    color: #939598;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
header {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border: 0
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    a[href^="#"]:after {
        content: ""
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

* {
    box-sizing: border-box
}

*:before,
*:after {
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

h1,
h2,
h3,
h4,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 17px;
    margin-bottom: 8.5px
}

h4,
h6 {
    margin-top: 8.5px;
    margin-bottom: 8.5px
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px
}

h6 {
    font-size: 11px
}

p {
    margin: 0 0 8.5px
}

.text-lowercase {
    text-transform: lowercase
}

.text-muted {
    color: #777777
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 8.5px
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:before,
.container:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1000px) {
    .container {
        width: 950px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-fluid:before,
.container-fluid:after {
    content: " ";
    display: table
}

.container-fluid:after {
    clear: both
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:before,
.row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.col-md-3,
.col-sm-5,
.col-sm-7,
.col-md-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .col-sm-5,
    .col-sm-7 {
        float: left
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
}

@media (min-width: 992px) {
    .col-md-3,
    .col-md-9 {
        float: left
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-9 {
        width: 75%
    }
}

input[type="search"] {
    box-sizing: border-box
}

.form-control {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

input[type="search"] {
    -webkit-appearance: none
}

.input-sm {
    height: 28px;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none
}

.btn:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active:hover,
.btn-default:active:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.btn-default:active {
    background-image: none
}

.btn-sm {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear
}

.input-group {
    height: 24px;
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    height: 100%;
    width: 100%;
    margin-bottom: 0
}

.input-group-btn,
.input-group .form-control {
    display: table-cell
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}

.input-group .form-control:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.input-group-btn:last-child>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn>.btn {
    position: relative
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active {
    z-index: 2
}

.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -1px
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 17px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px
}

.breadcrumb>li {
    display: inline-block
}

.breadcrumb>li+li:before {
    content: "/ ";
    padding: 0 5px;
    color: #ccc
}

.breadcrumb>.active {
    color: #777777
}

.close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20)
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right!important
}

@-ms-viewport {
    width: device-width
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}


/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont-d4f5a99224154f2a808e42a441ddc9248ffe78b7a4083684ce159270b30b912a_1.eot");
    src: url("../fonts/fontawesome-webfont-d4f5a99224154f2a808e42a441ddc9248ffe78b7a4083684ce159270b30b912a.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont-3c4a1bb7ce3234407184f0d80cc4dec075e4ad616b44dcc5778e1cfb1bc24019.woff2") format("woff2"), url("../fonts/fontawesome-webfont-a7c7e4930090e038a280fd61d88f0dc03dad4aeaedbd8c9be3dd9aa4c3b6f8d1.woff") format("woff"), url("../fonts/fontawesome-webfont-1b7f3de49d68b01f415574ebb82e6110a1d09cda2071ad8451bdb5124131a292.ttf") format("truetype"), url("../fonts/fontawesome-webfont-7414288c272f6cc10304aa18e89bf24fb30f40afd644623f425c2c3d71fbe06a.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.pull-right {
    float: right
}

h1#site-title {
    margin: 0
}

h3 {
    margin-top: 4px
}

article {
    font-size: 14px;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

article p {
    text-align: justify
}

p.timestamps {
    font-size: 12px
}

@media (min-width: 1000px) {
    .container {
        max-width: 950px
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px
    }
    .form-search {
        float: right !important;
        width: 245px;
        padding: 0
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .form-search {
        margin-right: 32px
    }
}

@media (max-width: 768px) {
    .vote-block-content-container {

    }
    .vote-block-content-text {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
    .vote-block-content-stat {
        width: 100%;
        float: none;
    }
    .login-buttons {
        text-align: center;
        margin-top: -3px;
        float: none !important
    }
    .login-buttons .btn {
        width: 48.5% !important;
        margin-bottom: 3px
    }
    .form-search {
        padding-bottom: 0;
        margin-bottom: 3px
    }
}

@media (max-width: 480px) {
    .login ul li {
        margin-left: 14px !important;
        width: 90px
    }
    .login-buttons {
        text-align: center;
        float: none !important
    }
    .login-buttons .btn {
        width: 100% !important
    }
    #main-container,
    .footer .container {
        padding-left: 0;
        padding-right: 0
    }
    #main-container>.row {
        margin-left: 0px;
        margin-right: 0px
    }
    .footer .box {
        margin-bottom: 0
    }
}

@media (max-width: 992px) {
    .login {
        float: none !important;
        margin-left: -50px
    }
}

.form-search {
    margin-top: 7px
}

.box {
    margin: 5px 0;
    color: white;
    padding: 10px 20px
}

.box>.row {
    margin: 0;
    margin-top: 10px
}

.box-blue-light {
    background-color: #dfebec;
    color: #444
}

.box-gray {
    color: #444;
    background-color: #e7e7e7
}

.login {
    padding-right: 4px;
    padding-top: 10px
}

.login ul {
    list-style: none;
    text-align: right;
    margin-bottom: 0
}

.login ul li {
    display: inline-block;
    margin-left: 20px
}

.login ul li span.glyphicon {
    margin-right: 3px
}

.login-buttons {
    margin-top: 7px
}

.login-buttons a.btn {
    font-weight: bold;
    margin-right: 5px
}

.login-buttons a.btn:first-child {
    width: 110px
}

#main-container {
    z-index: 500
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.logo img {
    padding-top: 10px
}

h3 {
    -moz-hyphens: none;
    -ms-hyphens: none
}

.blueimp-gallery {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -moz-backface-visibility: hidden
}

.blueimp-gallery {
    position: fixed;
    z-index: 999999;
    overflow: hidden;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    display: none;
    direction: ltr;
    -ms-touch-action: none;
    touch-action: none
}

.blueimp-gallery>.slides {
    position: relative;
    height: 100%;
    overflow: hidden
}

.blueimp-gallery {
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear
}

.blueimp-gallery>.prev,
.blueimp-gallery>.next {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -23px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
    text-align: center;
    background: #222;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: content-box;
    border: 3px solid #fff;
    border-radius: 23px;
    opacity: 0.5;
    cursor: pointer;
    display: none
}

.blueimp-gallery>.next {
    left: auto;
    right: 15px
}

.blueimp-gallery>.close,
.blueimp-gallery>.title {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0 40px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    opacity: 0.8;
    display: none
}

.blueimp-gallery>.close {
    padding: 15px;
    right: 15px;
    left: auto;
    margin: -15px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer
}

.blueimp-gallery>.play-pause {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 15px;
    height: 15px;
    background: url("../images/play-pause.png") 0 0 no-repeat;
    cursor: pointer;
    opacity: 0.5;
    display: none
}

.blueimp-gallery>.prev:hover,
.blueimp-gallery>.next:hover,
.blueimp-gallery>.close:hover,
.blueimp-gallery>.title:hover,
.blueimp-gallery>.play-pause:hover {
    color: #fff;
    opacity: 1
}

.blueimp-gallery-controls>.prev,
.blueimp-gallery-controls>.next,
.blueimp-gallery-controls>.close,
.blueimp-gallery-controls>.title,
.blueimp-gallery-controls>.play-pause {
    display: block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

.blueimp-gallery>.prev,
.blueimp-gallery>.next,
.blueimp-gallery>.close,
.blueimp-gallery>.play-pause {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body:last-child .blueimp-gallery>.play-pause {
    width: 20px;
    height: 20px;
    background-size: 40px 20px;
    background-image: url("../fonts/play-pause.svg")
}

.blueimp-gallery>.indicator {
    position: absolute;
    top: auto;
    right: 15px;
    bottom: 15px;
    left: 15px;
    margin: 0 40px;
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 10px;
    display: none
}

.blueimp-gallery-controls>.indicator {
    display: block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

.blueimp-gallery>.indicator {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
}

.msg {
    position: absolute;
    width: 600px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: rgb(20, 143, 185) none repeat scroll 0% 0%;
    border: 1px solid rgb(238, 238, 238);
    padding: 20px;
}

.msg > h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
}

.submit {
    margin-top: 10px;
    height: 50px;
    width: 400px;
    background-color: firebrick;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 3px;
}

.login-buttons a.btn:last-child {
    margin-right: 0;
}
.login ul li:first-child {
    margin-left: 0;
}
header {
    margin-bottom: 10px;
}

tbody td:nth-chlid(6) {
    background: #b7d7ec!important;
}

.glyphicon {
    margin-right: 4px;
}

.footer {
    margin-bottom: 10px;
}
.footer .row {
    margin-top: 2px;
}
#main-container img {
    display: table;
    width: auto;
    margin: 6px auto;
    max-width: 100%;
}
@media (max-width: 991px) {
    .col-md-3 {
        display: none;
    }
    .form-search {
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    article p {
        text-align: left !important;
    }
    .login-buttons a.btn:last-child {
        float: right;
    }
    .login-buttons a.btn:first-child {
        float: left;
    }
    .msg {
        width: 460px;
        margin-left: -230px;
    }
    .msg > h1 {
        font-size: 22px;
    }
    .form-search {
        float: none !important;
    }
    .img1 img {
        width: 70% !important;
    }
}
@media (max-width: 480px) {
    .msg {
        width: 300px;
        margin-left: -150px;
    }
    .msg > h1 {
        font-size: 17px;
        padding: 0 10px;
        margin-top: 45px;
    }
    .submit {
        width: 270px;
        font-size: 19px;
    }
    h1, h2, h3 {
        margin: 20px 15px 10px 15px;
    }
    p.timestamps {margin: 0 15px 10px 15px;}
}

@media (max-width: 360px) {
    .img1 img {
        width: 100% !important;
    }
}

.msg > h1 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.msg__img-box {
    width: 250px;
    margin: 0 auto;
}

.msg__img-box img {
    max-width: 100%;
}

@media (max-width: 480px) {
    .msg__img-box {
        width: 150px;
    }
}